
body {
  margin: 0px;
  padding: 0px;
  font: poppins;
}

#main {
  width: 100%;
  height: 100vh;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 5px 10px 30px rgba(0 , 0 , 0 , 0.02);
  z-index: 1;
}

.logo img {
  height: 45px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li a {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  color:gray;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content{
  display: flex;
  width:95%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  
}

.main-text{
  width:500px;
}

.main-text p {
  color: gray;
}

.collection-btn {
  width:190px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #23cdaf;
  border-radius: 15px;
  box-shadow: 5px 10px 30px rgba(0 , 0 , 0 , 0.02);
}

.collection-btn:hover {
  background-color: #23cdaf;
  transition: all ease 0.2s;
}

.menu li a:hover {
  background-color: #23cdaf;
  color: white;
  box-shadow: 5px 10px 30px rgba(0 , 0 , 0 , 0.02);
  transition: all ease 0.2s;
}